.App {
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.kanvas {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: #fff;
}

.square {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: purple;
}
